.recipe-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Assistant;
    text-align: right;
    direction: rtl;
    //background-color: #fff5f0;
    margin: 15vw;
    margin-top: 60px;
}
body{
    background-color: aqua;
}
p,h1,h2,h5{
        font-family: Assistant;
} 
.bold{
    font-weight: bold;
}